header.dashboard-header nav #header {
    background-size: 50px 50px !important;
    background-image: url('https://assets-us-01.kc-usercontent.com/6239a81e-8f0f-0040-a1df-b4932a10f6ae/261e0bb6-68dd-4f07-8798-cce9b0c42cc3/logo.svg') !important;
    background-position: 0;
    background-repeat: no-repeat
}
